In [2]:
from datetime import date, timedelta
import pandas as pd

def criar_tabela_dimensao_data(data_inicio, data_fim):
    tabela_dimensao = []

    data_atual = data_inicio
    while data_atual <= data_fim:
        dia = data_atual.day
        mes = data_atual.month
        ano = data_atual.year
        dia_semana = data_atual.weekday() 

        # Mapeamento de nomes de meses e dias da semana em português
        meses_pt = {1: 'Janeiro', 2: 'Fevereiro', 3: 'Março', 4: 'Abril', 5: 'Maio', 6: 'Junho', 7: 'Julho',
                    8: 'Agosto', 9: 'Setembro', 10: 'Outubro', 11: 'Novembro', 12: 'Dezembro'}

        dias_semana_pt = {0: 'Segunda-feira', 1: 'Terça-feira', 2: 'Quarta-feira', 3: 'Quinta-feira',
                          4: 'Sexta-feira', 5: 'Sábado', 6: 'Domingo'}

        nome_mes = meses_pt[mes]
        nome_semana = dias_semana_pt[dia_semana]

        final_de_semana = True if dia_semana >= 5 else False  # Se é final de semana
        trimestre = (mes - 1) // 3 + 1  # Calcula o trimestre

        tabela_dimensao.append((dia, mes, ano, dia_semana, nome_semana, nome_mes, final_de_semana, trimestre))

        data_atual += timedelta(days=1)

    colunas = ['Dia', 'Mes', 'Ano', 'DiaSemana', 'NomeSemana', 'NomeMes', 'FinalDeSemana', 'Trimestre']
    df_tabela_dimensao_data = pd.DataFrame(tabela_dimensao, columns=colunas)

    return df_tabela_dimensao_data

data_inicio = date(2023, 1, 1)
data_fim = date.today()

df_tabela_dimensao_data = criar_tabela_dimensao_data(data_inicio, data_fim)


df_tabela_dimensao_data

,Dia,Mes,Ano,DiaSemana,NomeSemana,NomeMes,FinalDeSemana,Trimestre
0,1,1,2023,6,Domingo,Janeiro,True,1
1,2,1,2023,0,Segunda-feira,Janeiro,False,1
2,3,1,2023,1,Terça-feira,Janeiro,False,1
3,4,1,2023,2,Quarta-feira,Janeiro,False,1
4,5,1,2023,3,Quinta-feira,Janeiro,False,1
...,...,...,...,...,...,...,...,...
378,14,1,2024,6,Domingo,Janeiro,True,1
379,15,1,2024,0,Segunda-feira,Janeiro,False,1
380,16,1,2024,1,Terça-feira,Janeiro,False,1
381,17,1,2024,2,Quarta-feira,Janeiro,False,1
382,18,1,2024,3,Quinta-feira,Janeiro,False,1