Importando Pandas e NumPy

O Numpy é uma biblioteca que nos permite trabalhar com funções matemáticas mais complexas com a linguagem python. Pandas é a ferramenta principal para construção de estrutura, manipulação e limpeza de dados na linguagem python

In [1]:
#importando as bibliotecas do pandas e numpy
import pandas as pd
import numpy as np

In [2]:
url = ('https://raw.githubusercontent.com/pandas-dev/pandas/master/pandas/tests/io/data/csv/tips.csv')

In [3]:
#criação do dataframe no pandas
tb = pd.read_csv(url)

In [4]:
#verifica o tamanho do dataframe
len(tb)

244

**Importar arquivos**

In [ ]:
from google.colab import files 
uploaded = files.upload()

In [ ]:
import pandas as pd 
import io 
  
df = pd.read_xlxs(io.BytesIO(uploaded['Inad_amostra.csv'])) 
print(df)

KeyError: ignored

**Consulta os dados**

In [ ]:
#vendo as primeiras linhas
tb.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
#retorna as 3 primeiras linhas com determinadas colunas
tb[['total_bill','tip','smoker','time']].head(3)

   total_bill   tip smoker    time
0       16.99  1.01     No  Dinner
1       10.34  1.66     No  Dinner
2       21.01  3.50     No  Dinner

In [ ]:
#consulta tabela onde a coluna "timer" conter o registro "Dinner"
tb[tb['time']=='Dinner'].head(5)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
#consulta na tabela onde a coluna "time" conter o registro "Dinner" e a coluna "tip" com valores maior e igual a 5
tb[(tb['time']=='Dinner') & (tb['tip'] >= 5.00)]

     total_bill    tip sexo smoker  dia    time  size data_atualizacao
11        35.26   5.00  NaN     No  Sun  Dinner     4       2022-12-02
23        39.42   7.58  NaN     No  Sat  Dinner     4       2022-12-02
39        31.27   5.00  NaN     No  Sat  Dinner     3       2022-12-02
44        30.40   5.60  NaN     No  Sun  Dinner     4       2022-12-02
46        22.23   5.00  NaN     No  Sun  Dinner     2       2022-12-02
47        32.40   6.00  NaN     No  Sun  Dinner     4       2022-12-02
52        34.81   5.20  NaN     No  Sun  Dinner     4       2022-12-02
59        48.27   6.73  NaN     No  Sat  Dinner     4       2022-12-02
73        25.28   5.00  NaN    Yes  Sat  Dinner     2       2022-12-02
116       29.93   5.07  NaN     No  Sun  Dinner     4       2022-12-02
155       29.85   5.14  NaN     No  Sun  Dinner     5       2022-12-02
156       48.17   5.00  NaN     No  Sun  Dinner     6       2022-12-02
170       50.81  10.00  NaN    Yes  Sat  Dinner     3       2022-12-02
172        7.25   5.15  NaN    Yes  Sun  Dinner     2       2022-12-02
181       23.33   5.65  NaN    Yes  Sun  Dinner     2       2022-12-02
183       23.17   6.50  NaN    Yes  Sun  Dinner     4       2022-12-02
185       20.69   5.00  NaN     No  Sun  Dinner     5       2022-12-02
211       25.89   5.16  NaN    Yes  Sat  Dinner     4       2022-12-02
212       48.33   9.00  NaN     No  Sat  Dinner     4       2022-12-02
214       28.17   6.50  NaN    Yes  Sat  Dinner     3       2022-12-02
239       29.03   5.92  NaN     No  Sat  Dinner     3       2022-12-02

In [ ]:
##Filtra os registros da tabela onde tem "Dinner" como se fosse a cláusula where no SQL
tb[tb.time =='Dinner']

,total_bill,tip,sex,smoker,day,time,size,Nova Coluna,data_atualizacao
0,16.99,1.01,Female,No,Sun,Dinner,2,Não Informado,2022-12-03
1,10.34,1.66,Male,No,Sun,Dinner,3,Não Informado,2022-12-03
2,21.01,3.50,Male,No,Sun,Dinner,3,Não Informado,2022-12-03
3,23.68,3.31,Male,No,Sun,Dinner,2,Não Informado,2022-12-03
4,24.59,3.61,Female,No,Sun,Dinner,4,Não Informado,2022-12-03
...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,Não Informado,2022-12-03
240,27.18,2.00,Female,Yes,Sat,Dinner,2,Não Informado,2022-12-03
241,22.67,2.00,Male,Yes,Sat,Dinner,2,Não Informado,2022-12-03
242,17.82,1.75,Male,No,Sat,Dinner,2,Não Informado,2022-12-03
243,18.78,3.00,Female,No,Thur,Dinner,2,Não Informado,2022-12-03

In [ ]:
#conta os valores únicos em uma coluna
df2 = tb.day.nunique()
df2

4

In [ ]:
#conta a quantidade de registros para determinado campo
df = tb.day.value_counts()
df

Sat     87
Sun     76
Thur    62
Fri     19
Name: day, dtype: int64

In [7]:
# usando a função capitalize para retornar a primeira letra em maiúscula. o UPPER() retornaria o nome inteio em maiúscula
name = "joao vilar"
name.capitalize()

'Joao vilar'

**Consulta campos nulos**

In [ ]:
#retorna true se tiver campo com valor nulo
pd.isnull(tb)

     total_bill    tip    sex  smoker    day   time   size
0         False  False  False   False  False  False  False
1         False  False  False   False  False  False  False
2         False  False  False   False  False  False  False
3         False  False  False   False  False  False  False
4         False  False  False   False  False  False  False
..          ...    ...    ...     ...    ...    ...    ...
239       False  False  False   False  False  False  False
240       False  False  False   False  False  False  False
241       False  False  False   False  False  False  False
242       False  False  False   False  False  False  False
243       False  False  False   False  False  False  False

[244 rows x 7 columns]

In [ ]:
#Mesmo retorn de cima, verifica se tem alguma coluna com valor nulo em toda a tabela. True representa que tem, false representa que não tem
tb.isna()

     total_bill    tip    sex  smoker    day   time   size
0         False  False  False   False  False  False  False
1         False  False  False   False  False  False  False
2         False  False  False   False  False  False  False
3         False  False  False   False  False  False  False
4         False  False  False   False  False  False  False
..          ...    ...    ...     ...    ...    ...    ...
239       False  False  False   False  False  False  False
240       False  False  False   False  False  False  False
241       False  False  False   False  False  False  False
242       False  False  False   False  False  False  False
243       False  False  False   False  False  False  False

[244 rows x 7 columns]

In [ ]:
#Filtra a tabela onde a coluna possui valor nulo
tb[tb['tip'].isna()]

Empty DataFrame
Columns: [total_bill, tip, sex, smoker, day, time, size]
Index: []

In [ ]:
#valores não nulos na coluna "tip"
tb[tb['tip'].notna()]

,total_bill,tip,sex,smoker,day,time,size,Nova Coluna,data_atualizacao
0,16.99,1.01,Female,No,Sun,Dinner,2,Não Informado,2022-12-03
1,10.34,1.66,Male,No,Sun,Dinner,3,Não Informado,2022-12-03
2,21.01,3.50,Male,No,Sun,Dinner,3,Não Informado,2022-12-03
3,23.68,3.31,Male,No,Sun,Dinner,2,Não Informado,2022-12-03
4,24.59,3.61,Female,No,Sun,Dinner,4,Não Informado,2022-12-03
...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,Não Informado,2022-12-03
240,27.18,2.00,Female,Yes,Sat,Dinner,2,Não Informado,2022-12-03
241,22.67,2.00,Male,Yes,Sat,Dinner,2,Não Informado,2022-12-03
242,17.82,1.75,Male,No,Sat,Dinner,2,Não Informado,2022-12-03
243,18.78,3.00,Female,No,Thur,Dinner,2,Não Informado,2022-12-03

**Group by**

In [ ]:
#Groupby - nesse campo está contando a quantidade e o campo e necessariamente é preciso agrupar
tb.groupby('sex').size()

sex
Female     87
Male      157
dtype: int64

In [ ]:
#mesmo resultado acima usando o size(), só que agora usando o count
tb.groupby('sex')['total_bill'].count()

sex
Female     87
Male      157
Name: total_bill, dtype: int64

In [ ]:
# Somando o campo "total_bill" agrupando por sexo
tb.groupby('sex')['total_bill'].sum()

sex
Female    1570.95
Male      3256.82
Name: total_bill, dtype: float64

In [ ]:
#conta a quantidade de registros da coluna time, agrupando sex e day
tab = tb.groupby(['sex', 'day'])['time'].nunique()

pd.DataFrame(tab).reset_index()

      sex   day  time
0  Female   Fri     2
1  Female   Sat     1
2  Female   Sun     1
3  Female  Thur     2
4    Male   Fri     2
5    Male   Sat     1
6    Male   Sun     1
7    Male  Thur     1

**Adicionando nova coluna na tabela**

In [ ]:
#Criando nova coluna 
tb['Nova Coluna'] = 'Não Informado'
tb.head(5)

,total_bill,tip,sex,smoker,day,time,size,data_atualizacao,Nova Coluna
0,16.99,1.01,Female,No,Sun,Dinner,2,2022-12-03,Não Informado
1,10.34,1.66,Male,No,Sun,Dinner,3,2022-12-03,Não Informado
2,21.01,3.50,Male,No,Sun,Dinner,3,2022-12-03,Não Informado
3,23.68,3.31,Male,No,Sun,Dinner,2,2022-12-03,Não Informado
4,24.59,3.61,Female,No,Sun,Dinner,4,2022-12-03,Não Informado

In [ ]:
#retorna a data do dia corrente
from datetime import date

data_atual = date.today()
print(data_atual)

2022-12-03

In [ ]:
#adiciona coluna da data atual no dataframe
tb['data_atualizacao'] = data_atual
tb

     total_bill   tip     sex smoker   day    time  size data_atualizacao
0         16.99  1.01  Female     No   Sun  Dinner     2       2022-12-03
1         10.34  1.66    Male     No   Sun  Dinner     3       2022-12-03
2         21.01  3.50    Male     No   Sun  Dinner     3       2022-12-03
3         23.68  3.31    Male     No   Sun  Dinner     2       2022-12-03
4         24.59  3.61  Female     No   Sun  Dinner     4       2022-12-03
..          ...   ...     ...    ...   ...     ...   ...              ...
239       29.03  5.92    Male     No   Sat  Dinner     3       2022-12-03
240       27.18  2.00  Female    Yes   Sat  Dinner     2       2022-12-03
241       22.67  2.00    Male    Yes   Sat  Dinner     2       2022-12-03
242       17.82  1.75    Male     No   Sat  Dinner     2       2022-12-03
243       18.78  3.00  Female     No  Thur  Dinner     2       2022-12-03

[244 rows x 8 columns]

In [ ]:
#formata a data em string - DDMMYYYY
data_em_texto = data_atual.strftime('%d/%m/%Y')
data_em_texto

'02/12/2022'

In [ ]:
from datetime import datetime

data_e_hora_atuais = datetime.now()
data_e_hora_em_texto = data_e_hora_atuais.strftime('%d/%m/%Y')

print(data_e_hora_em_texto)

03/12/2022

In [ ]:
#resolve problema de fuso horário no horário da data e hora
from pandas.core.arrays.datetimelike import timedelta
from datetime import datetime, timezone

diferenca = timedelta(hours=-3)
print(diferenca)

fuso_horario = timezone(diferenca)
print(fuso_horario)

data_e_hora_bsb = data_e_hora_atuais.astimezone(fuso_horario)
data_e_hora_bsb_em_texto = data_e_hora_bsb.strftime('%d/%m/%Y %H:%M')

print(data_e_hora_bsb_em_texto)

-1 day, 21:00:00
UTC-03:00
03/12/2022 12:48

In [ ]:
#Cria coluna com condicional
tb['Dia_Semana'] = tb.day.apply(lambda x: 'Sábado' if 'Sat' in x 
                                       else ('Domingo' if 'Sun' in x 
                                             else ('Quinta-feira' if 'Thur' in x
                                              else ('Sexta-feira' if 'Friday' in x 
                                                   else 'NI'))))
tb.tail(10)

,total_bill,tip,sex,smoker,day,time,size,data_atualizacao,Nova Coluna,Dia_Semana
234,15.53,3.00,Male,Yes,Sat,Dinner,2,2022-12-03,Não Informado,Sábado
235,10.07,1.25,Male,No,Sat,Dinner,2,2022-12-03,Não Informado,Sábado
236,12.60,1.00,Male,Yes,Sat,Dinner,2,2022-12-03,Não Informado,Sábado
237,32.83,1.17,Male,Yes,Sat,Dinner,2,2022-12-03,Não Informado,Sábado
238,35.83,4.67,Female,No,Sat,Dinner,3,2022-12-03,Não Informado,Sábado
239,29.03,5.92,Male,No,Sat,Dinner,3,2022-12-03,Não Informado,Sábado
240,27.18,2.00,Female,Yes,Sat,Dinner,2,2022-12-03,Não Informado,Sábado
241,22.67,2.00,Male,Yes,Sat,Dinner,2,2022-12-03,Não Informado,Sábado
242,17.82,1.75,Male,No,Sat,Dinner,2,2022-12-03,Não Informado,Sábado
243,18.78,3.00,Female,No,Thur,Dinner,2,2022-12-03,Não Informado,Quinta-feira

**Exclusão de coluna**

In [ ]:
#excluindo coluna
tb.drop(['Nova Coluna'], axis=1, inplace=True)
tb

,total_bill,tip,sex,smoker,day,time,size,data_atualizacao,Dia_Semana
0,16.99,1.01,Female,No,Sun,Dinner,2,2022-12-03,Domingo
1,10.34,1.66,Male,No,Sun,Dinner,3,2022-12-03,Domingo
2,21.01,3.50,Male,No,Sun,Dinner,3,2022-12-03,Domingo
3,23.68,3.31,Male,No,Sun,Dinner,2,2022-12-03,Domingo
4,24.59,3.61,Female,No,Sun,Dinner,4,2022-12-03,Domingo
...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,2022-12-03,Sábado
240,27.18,2.00,Female,Yes,Sat,Dinner,2,2022-12-03,Sábado
241,22.67,2.00,Male,Yes,Sat,Dinner,2,2022-12-03,Sábado
242,17.82,1.75,Male,No,Sat,Dinner,2,2022-12-03,Sábado
243,18.78,3.00,Female,No,Thur,Dinner,2,2022-12-03,Quinta-feira

In [ ]:
#excluir colunas
tb.drop(columns=['data_atualizacao','Dia_Semana'], 
                inplace=True)
tb

     total_bill   tip     sex smoker   day    time  size    Nova Coluna
0         16.99  1.01  Female     No   Sun  Dinner     2  Não Informado
1         10.34  1.66    Male     No   Sun  Dinner     3  Não Informado
2         21.01  3.50    Male     No   Sun  Dinner     3  Não Informado
3         23.68  3.31    Male     No   Sun  Dinner     2  Não Informado
4         24.59  3.61  Female     No   Sun  Dinner     4  Não Informado
..          ...   ...     ...    ...   ...     ...   ...            ...
239       29.03  5.92    Male     No   Sat  Dinner     3  Não Informado
240       27.18  2.00  Female    Yes   Sat  Dinner     2  Não Informado
241       22.67  2.00    Male    Yes   Sat  Dinner     2  Não Informado
242       17.82  1.75    Male     No   Sat  Dinner     2  Não Informado
243       18.78  3.00  Female     No  Thur  Dinner     2  Não Informado

[244 rows x 8 columns]

**Renomear coluna e campo**

In [ ]:
#renomeia o nome da coluna
tb.rename(columns={'day':'dia',
                   'sex':'sexo'},
          inplace=True)
tb

,total_bill,tip,sexo,smoker,dia,time,size,data_atualizacao,Dia_Semana
0,16.99,1.01,Female,No,Sun,Dinner,2,2022-12-03,Domingo
1,10.34,1.66,Male,No,Sun,Dinner,3,2022-12-03,Domingo
2,21.01,3.50,Male,No,Sun,Dinner,3,2022-12-03,Domingo
3,23.68,3.31,Male,No,Sun,Dinner,2,2022-12-03,Domingo
4,24.59,3.61,Female,No,Sun,Dinner,4,2022-12-03,Domingo
...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,2022-12-03,Sábado
240,27.18,2.00,Female,Yes,Sat,Dinner,2,2022-12-03,Sábado
241,22.67,2.00,Male,Yes,Sat,Dinner,2,2022-12-03,Sábado
242,17.82,1.75,Male,No,Sat,Dinner,2,2022-12-03,Sábado
243,18.78,3.00,Female,No,Thur,Dinner,2,2022-12-03,Quinta-feira

In [ ]:
#renomeia o nome do registro da coluna

tb['sexo'] = tb['sexo'].map({'Male':'Masculino',
                             'Female':'Feminimo'},
                             na_action=None)

tb

,total_bill,tip,sexo,smoker,dia,time,size,data_atualizacao,Dia_Semana
0,16.99,1.01,Feminimo,No,Sun,Dinner,2,2022-12-03,Domingo
1,10.34,1.66,Masculino,No,Sun,Dinner,3,2022-12-03,Domingo
2,21.01,3.50,Masculino,No,Sun,Dinner,3,2022-12-03,Domingo
3,23.68,3.31,Masculino,No,Sun,Dinner,2,2022-12-03,Domingo
4,24.59,3.61,Feminimo,No,Sun,Dinner,4,2022-12-03,Domingo
...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Masculino,No,Sat,Dinner,3,2022-12-03,Sábado
240,27.18,2.00,Feminimo,Yes,Sat,Dinner,2,2022-12-03,Sábado
241,22.67,2.00,Masculino,Yes,Sat,Dinner,2,2022-12-03,Sábado
242,17.82,1.75,Masculino,No,Sat,Dinner,2,2022-12-03,Sábado
243,18.78,3.00,Feminimo,No,Thur,Dinner,2,2022-12-03,Quinta-feira

**Filtrando linhas**

In [ ]:
#filtrando linhas em uma tabela/dataframe
filtro  = tb['size'] > 2
df_filtro = tb[filtro]

df_filtro.tail(10)

     total_bill   tip sexo smoker  dia    time  size data_atualizacao
212       48.33  9.00  NaN     No  Sat  Dinner     4       2022-12-02
214       28.17  6.50  NaN    Yes  Sat  Dinner     3       2022-12-02
216       28.15  3.00  NaN    Yes  Sat  Dinner     5       2022-12-02
219       30.14  3.09  NaN    Yes  Sat  Dinner     4       2022-12-02
223       15.98  3.00  NaN     No  Fri   Lunch     3       2022-12-02
227       20.45  3.00  NaN     No  Sat  Dinner     4       2022-12-02
230       24.01  2.00  NaN    Yes  Sat  Dinner     4       2022-12-02
231       15.69  3.00  NaN    Yes  Sat  Dinner     3       2022-12-02
238       35.83  4.67  NaN     No  Sat  Dinner     3       2022-12-02
239       29.03  5.92  NaN     No  Sat  Dinner     3       2022-12-02

**Verifica o tipo de dados**

In [ ]:
#Mostra os tipos de dados de uma tabela
tb.dtypes

total_bill    float64
tip           float64
sex            object
smoker         object
day            object
time           object
size            int64
dtype: object

In [ ]:
#fornece algumas informações sobre a tabela/dataframe como números de colunas, de linhas e a memória que se está utilizando.
tb.info()

<class 'pandas.core.frame.DataFrame'>
Index: 244 entries, Não Informado to Não Informado
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 23.4+ KB

**Utilizando INNER JOIN**

In [ ]:
#inner join
import pandas as pd
  
# Criando um dataframe A
a = pd.DataFrame()
  
# Criando um dicionário com os dados para tabela A
dados = {'id': [1, 2, 10, 12,15],
     'val1': ['a', 'b', 'c', 'd','e']}
  
a = pd.DataFrame(dados)

#############################################################
  
# Criando um dataframe B
b = pd.DataFrame()
  
# Criando um dicionário com os dados para tabela B
dados = {'id': [1, 2, 9, 8,15],
     'val1': ['p', 'q', 'r', 's','x']}
b = pd.DataFrame(dados)
  
# inner join
df = pd.merge(a, b, on='id', how='inner')
  
# display dataframe
df

   id val1_x val1_y
0   1      a      p
1   2      b      q
2  15      e      x